@import "@/assets/base.css";

.--typewriter {
  animation-name: typewriter;
  animation-duration: 4s;
  animation-timing-function: linear;
  overflow: hidden;
  white-space: nowrap;
}

.--flash {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
}

@keyframes typewriter {
  from {
    width: 2em;
  }
  to {
    width: 100%;
  }
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}

@keyframes three-dots {
  0% {
    content: "\00A0\00A0\00A0";
  }
  33% {
    content: ".\00A0\00A0";
  }
  66% {
    content: "..\00A0";
  }
  100% {
    content: "...";
  }
}
